.navbar {
  background-color: white;
  height: 65px;
  width: 100%;
  border-bottom: 1px solid black;
  position: fixed;
}

.navbar-container {
  display: flex;
}

.navbar-logo {
  padding-left: 70px;
  padding-top: 20px;
  cursor: pointer;
}

.input-container {
  padding-left: 30px;
  padding-top: 20px;
}

.set-input {
  border: 1px solid black;
  padding: 5px;
  border-radius: 2rem;
}

.search-input {
  padding-right: 150px;
  padding-left: 5px;
  padding-top: 5px;
  border: hidden;
}

.navbar-links {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-gap: 35px;
  display: flex;
  padding-top: 20px;
  padding-left: 40rem;
}

.nav-link-1 {
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 20px;
  border-radius: 0.5rem;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
}

.nav-link-2 {
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 20px;
  border-radius: 1.2rem;
  padding: 5px;
  border: hidden;
  cursor: pointer;
}

.nav-link-2:hover {
  background-color: gray;
}

.nav-link-3 {
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 20px;
  border-radius: 0.9rem;
  padding: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.nav-link-3:hover {
  background-color: gray;
}

#sp {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
