.order {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.order-title {
  text-align: center;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.order-container {
  padding-left: 190px;
  padding-top: 5px;
}
.part-1 {
  display: grid;
  grid-gap: 20px;
  display: flex;
  padding-left: 20px;
  padding-bottom: 19px;
}

.part-2 {
  display: grid;
  grid-gap: 20px;
  display: flex;
  padding-left: 20px;
  padding-bottom: 19px;
}

.part-3 {
  display: grid;
  grid-gap: 20px;
  display: flex;
  padding-left: 20px;
}

.imgh {
  padding-left: 0px;
  height: 300px;
  border-radius: 1.5rem;
}
